In [9]:
%load_ext autoreload
%autoreload 2
from crypto_project.data import price_and_indexes

In [64]:
df = price_and_indexes()

In [65]:
df

,btc_price,Fear&Greed,BTC_counts,twitter_counts,reddit_counts,BTC_score,twitter_score,reddit_score
timestamp,,,,,,,,
2018-02-01,9052.5763,30,"[30, 199, 207, 200, 53, 150, 20, 1, 2, 54, 24,...","[19, 35, 53, 179, 26, 44, 22, 5, 22, 83, 22, 4...","[25, 142, 143, 330, 60, 90, 107, 2, 12, 90, 32...",0.496911,0.569701,0.429601
2018-02-02,8827.6300,15,"[40, 217, 142, 275, 123, 126, 31, 2, 5, 93, 15...","[30, 42, 51, 173, 43, 29, 28, 12, 21, 144, 35,...","[23, 143, 118, 343, 92, 72, 122, 12, 10, 142, ...",0.479340,0.552322,0.430662
2018-02-03,9224.3913,40,"[25, 181, 145, 177, 47, 96, 14, 3, 4, 53, 17, ...","[11, 20, 91, 91, 12, 70, 10, 16, 20, 48, 25, 3...","[24, 72, 101, 128, 37, 66, 52, 8, 4, 40, 24, 5...",0.495011,0.585380,0.453424
2018-02-04,8186.6488,24,"[25, 159, 114, 151, 36, 88, 19, 1, 1, 23, 7, 3...","[13, 22, 86, 87, 12, 45, 21, 4, 19, 46, 28, 36...","[11, 73, 116, 121, 45, 64, 48, 4, 5, 52, 14, 3...",0.499830,0.554089,0.444839
2018-02-05,6914.2600,11,"[29, 202, 174, 231, 56, 97, 29, 2, 6, 81, 18, ...","[14, 35, 180, 155, 21, 35, 39, 3, 16, 143, 23,...","[26, 154, 215, 302, 89, 99, 97, 12, 14, 163, 5...",0.469328,0.529476,0.438090
...,...,...,...,...,...,...,...,...
2021-01-27,30425.3933,78,"[6, 24, 36, 41, 16, 45, 7, 2, 3, 10, 21, 9, 14...","[6, 8, 50, 71, 24, 16, 17, 21, 5, 29, 60, 20, ...","[14, 57, 74, 138, 45, 48, 49, 15, 12, 16, 77, ...",0.451524,0.568092,0.512576
2021-01-28,33420.0450,55,"[4, 39, 32, 66, 17, 44, 6, 4, 3, 6, 19, 10, 16...","[0, 15, 44, 74, 41, 61, 18, 10, 9, 27, 64, 8, ...","[14, 69, 130, 216, 62, 117, 84, 11, 20, 16, 10...",0.461012,0.588805,0.541803
2021-01-29,34264.0100,77,"[1, 29, 24, 46, 38, 23, 6, 2, 2, 3, 34, 19, 19...","[4, 23, 37, 111, 35, 43, 39, 8, 16, 23, 72, 36...","[18, 201, 338, 758, 213, 148, 275, 6, 14, 31, ...",0.497264,0.614617,0.575444
2021-01-30,34324.2717,76,"[5, 24, 18, 40, 18, 34, 7, 0, 2, 5, 13, 13, 14...","[1, 13, 23, 43, 18, 20, 13, 1, 3, 7, 24, 7, 17...","[22, 249, 272, 628, 273, 153, 282, 9, 13, 42, ...",0.490272,0.562461,0.525758
2021-01-31,33129.7433,78,"[3, 23, 33, 41, 23, 23, 1, 4, 3, 4, 19, 17, 15...","[4, 8, 20, 37, 17, 29, 15, 0, 4, 7, 19, 12, 18...","[24, 175, 194, 413, 174, 143, 117, 10, 12, 27,...",0.485714,0.574786,0.519823

In [67]:
df.isnull().sum()

btc_price         0
Fear&Greed        0
BTC_counts        0
twitter_counts    0
reddit_counts     0
BTC_score         0
twitter_score     1
reddit_score      0
dtype: int64

In [ ]:
# Substitue Null value with average

In [68]:
df['twitter_score'].mean()

0.6015263187845831

In [69]:
df.fillna(value=df['twitter_score'].mean(), inplace=True)

In [70]:
df.isnull().sum()

btc_price         0
Fear&Greed        0
BTC_counts        0
twitter_counts    0
reddit_counts     0
BTC_score         0
twitter_score     0
reddit_score      0
dtype: int64

In [58]:
df = price_and_indexes(local=False)

In [59]:
df

             ds           y Fear&Greed
0    2018-02-01   9052.5763         30
1    2018-02-02   8827.6300         15
2    2018-02-03   9224.3913         40
3    2018-02-04   8186.6488         24
4    2018-02-05   6914.2600         11
...         ...         ...        ...
1117 2021-02-25  47104.7833         79
1118 2021-02-26  46329.7400         55
1119 2021-02-27  46189.3783         56
1120 2021-02-28  45256.4133         55
1121 2021-03-01  49619.6433         38

[1122 rows x 3 columns]

In [60]:
df.isnull().sum()

ds            0
y             0
Fear&Greed    0
dtype: int64

In [61]:
df_nodup = df.drop_duplicates()

In [62]:
df.shape

(1122, 3)

In [63]:
df_nodup.shape

(1122, 3)

In [42]:
btc_df.dtypes

ds    datetime64[ns]
y            float64
dtype: object

In [41]:
fg_df.head()

  Fear&Greed         ds
0         81 2021-03-08
1         76 2021-03-07
2         77 2021-03-06
3         77 2021-03-05
4         84 2021-03-04

In [43]:
fg_df.dtypes

Fear&Greed            object
ds            datetime64[ns]
dtype: object

In [57]:
import pandas as pd
merge=pd.merge(btc_df,fg_df, how='inner', left_index=True, right_on='ds')

ValueError: You are trying to merge on int64 and datetime64[ns] columns. If you wish to proceed you should use pd.concat

In [54]:
merge=pd.merge(btc_df,fg_df, how='inner', left_on='ds', right_on='ds')

In [55]:
merge

             ds           y Fear&Greed
0    2018-02-01   9052.5763         30
1    2018-02-02   8827.6300         15
2    2018-02-03   9224.3913         40
3    2018-02-04   8186.6488         24
4    2018-02-05   6914.2600         11
...         ...         ...        ...
1117 2021-02-25  47104.7833         79
1118 2021-02-26  46329.7400         55
1119 2021-02-27  46189.3783         56
1120 2021-02-28  45256.4133         55
1121 2021-03-01  49619.6433         38

[1122 rows x 3 columns]

In [73]:
from datetime import date
str(date.today())

'2021-03-08'

In [79]:
df2 = price_and_indexes(local=False)

In [80]:
df2

             ds           y Fear&Greed
0    2018-02-01   9052.5763         30
1    2018-02-02   8827.6300         15
2    2018-02-03   9224.3913         40
3    2018-02-04   8186.6488         24
4    2018-02-05   6914.2600         11
...         ...         ...        ...
1123 2021-03-03  50422.1683         78
1124 2021-03-04  48365.1450         84
1125 2021-03-05  48780.9600         77
1126 2021-03-06  48887.0233         77
1127 2021-03-07  50985.9417         76

[1128 rows x 3 columns]

In [76]:
df3 = price_and_indexes()

In [77]:
df3

,btc_price,Fear&Greed,BTC_counts,twitter_counts,reddit_counts,BTC_score,twitter_score,reddit_score
timestamp,,,,,,,,
2018-02-01,9052.5763,30,"[30, 199, 207, 200, 53, 150, 20, 1, 2, 54, 24,...","[19, 35, 53, 179, 26, 44, 22, 5, 22, 83, 22, 4...","[25, 142, 143, 330, 60, 90, 107, 2, 12, 90, 32...",0.496911,0.569701,0.429601
2018-02-02,8827.6300,15,"[40, 217, 142, 275, 123, 126, 31, 2, 5, 93, 15...","[30, 42, 51, 173, 43, 29, 28, 12, 21, 144, 35,...","[23, 143, 118, 343, 92, 72, 122, 12, 10, 142, ...",0.479340,0.552322,0.430662
2018-02-03,9224.3913,40,"[25, 181, 145, 177, 47, 96, 14, 3, 4, 53, 17, ...","[11, 20, 91, 91, 12, 70, 10, 16, 20, 48, 25, 3...","[24, 72, 101, 128, 37, 66, 52, 8, 4, 40, 24, 5...",0.495011,0.585380,0.453424
2018-02-04,8186.6488,24,"[25, 159, 114, 151, 36, 88, 19, 1, 1, 23, 7, 3...","[13, 22, 86, 87, 12, 45, 21, 4, 19, 46, 28, 36...","[11, 73, 116, 121, 45, 64, 48, 4, 5, 52, 14, 3...",0.499830,0.554089,0.444839
2018-02-05,6914.2600,11,"[29, 202, 174, 231, 56, 97, 29, 2, 6, 81, 18, ...","[14, 35, 180, 155, 21, 35, 39, 3, 16, 143, 23,...","[26, 154, 215, 302, 89, 99, 97, 12, 14, 163, 5...",0.469328,0.529476,0.438090
...,...,...,...,...,...,...,...,...
2021-01-27,30425.3933,78,"[6, 24, 36, 41, 16, 45, 7, 2, 3, 10, 21, 9, 14...","[6, 8, 50, 71, 24, 16, 17, 21, 5, 29, 60, 20, ...","[14, 57, 74, 138, 45, 48, 49, 15, 12, 16, 77, ...",0.451524,0.568092,0.512576
2021-01-28,33420.0450,55,"[4, 39, 32, 66, 17, 44, 6, 4, 3, 6, 19, 10, 16...","[0, 15, 44, 74, 41, 61, 18, 10, 9, 27, 64, 8, ...","[14, 69, 130, 216, 62, 117, 84, 11, 20, 16, 10...",0.461012,0.588805,0.541803
2021-01-29,34264.0100,77,"[1, 29, 24, 46, 38, 23, 6, 2, 2, 3, 34, 19, 19...","[4, 23, 37, 111, 35, 43, 39, 8, 16, 23, 72, 36...","[18, 201, 338, 758, 213, 148, 275, 6, 14, 31, ...",0.497264,0.614617,0.575444
2021-01-30,34324.2717,76,"[5, 24, 18, 40, 18, 34, 7, 0, 2, 5, 13, 13, 14...","[1, 13, 23, 43, 18, 20, 13, 1, 3, 7, 24, 7, 17...","[22, 249, 272, 628, 273, 153, 282, 9, 13, 42, ...",0.490272,0.562461,0.525758
2021-01-31,33129.7433,78,"[3, 23, 33, 41, 23, 23, 1, 4, 3, 4, 19, 17, 15...","[4, 8, 20, 37, 17, 29, 15, 0, 4, 7, 19, 12, 18...","[24, 175, 194, 413, 174, 143, 117, 10, 12, 27,...",0.485714,0.574786,0.519823

In [78]:
df3.isnull().sum()

btc_price         0
Fear&Greed        0
BTC_counts        0
twitter_counts    0
reddit_counts     0
BTC_score         0
twitter_score     0
reddit_score      0
dtype: int64