In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../data/augmento_scores_df.csv")

In [4]:
df.head(6)

,datetime,BTC_counts,twitter_counts,reddit_counts,BTC_score,twitter_score,reddit_score
0,2018-02-01,"[30, 199, 207, 200, 53, 150, 20, 1, 2, 54, 24,...","[19, 35, 53, 179, 26, 44, 22, 5, 22, 83, 22, 4...","[25, 142, 143, 330, 60, 90, 107, 2, 12, 90, 32...",0.496911,0.569701,0.429601
1,2018-02-02,"[40, 217, 142, 275, 123, 126, 31, 2, 5, 93, 15...","[30, 42, 51, 173, 43, 29, 28, 12, 21, 144, 35,...","[23, 143, 118, 343, 92, 72, 122, 12, 10, 142, ...",0.479340,0.552322,0.430662
2,2018-02-03,"[25, 181, 145, 177, 47, 96, 14, 3, 4, 53, 17, ...","[11, 20, 91, 91, 12, 70, 10, 16, 20, 48, 25, 3...","[24, 72, 101, 128, 37, 66, 52, 8, 4, 40, 24, 5...",0.495011,0.585380,0.453424
3,2018-02-04,"[25, 159, 114, 151, 36, 88, 19, 1, 1, 23, 7, 3...","[13, 22, 86, 87, 12, 45, 21, 4, 19, 46, 28, 36...","[11, 73, 116, 121, 45, 64, 48, 4, 5, 52, 14, 3...",0.499830,0.554089,0.444839
4,2018-02-05,"[29, 202, 174, 231, 56, 97, 29, 2, 6, 81, 18, ...","[14, 35, 180, 155, 21, 35, 39, 3, 16, 143, 23,...","[26, 154, 215, 302, 89, 99, 97, 12, 14, 163, 5...",0.469328,0.529476,0.438090
5,2018-02-06,"[16, 190, 190, 298, 76, 85, 34, 3, 1, 105, 25,...","[7, 43, 202, 169, 29, 47, 37, 14, 26, 159, 19,...","[20, 120, 174, 253, 86, 80, 101, 13, 12, 137, ...",0.503256,0.558446,0.451664