In [18]:
from crypto_project.data import price_and_indexes
from crypto_project.model import fit_model,future_dataframe,model_predict, train_test_split

In [19]:
dataframe = price_and_indexes(local=False)

In [20]:
dataframe

             ds           y Fear&Greed
0    2018-02-01   9052.5763         30
1    2018-02-02   8827.6300         15
2    2018-02-03   9224.3913         40
3    2018-02-04   8186.6488         24
4    2018-02-05   6914.2600         11
...         ...         ...        ...
1123 2021-03-03  50422.1683         78
1124 2021-03-04  48365.1450         84
1125 2021-03-05  48780.9600         77
1126 2021-03-06  48887.0233         77
1127 2021-03-07  50985.9417         76

[1128 rows x 3 columns]

In [21]:
train, test = train_test_split(dataframe)

In [22]:
train

             ds           y Fear&Greed
0    2018-02-01   9052.5763         30
1    2018-02-02   8827.6300         15
2    2018-02-03   9224.3913         40
3    2018-02-04   8186.6488         24
4    2018-02-05   6914.2600         11
...         ...         ...        ...
1122 2021-03-02  48502.8083         78
1123 2021-03-03  50422.1683         78
1124 2021-03-04  48365.1450         84
1125 2021-03-05  48780.9600         77
1126 2021-03-06  48887.0233         77

[1127 rows x 3 columns]

In [23]:
fitted_model = fit_model(train,local=False)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [24]:
model_future = future_dataframe(train,fitted_model, local=False)

In [25]:
model_future

             ds Fear&Greed
0    2018-02-01         30
1    2018-02-02         15
2    2018-02-03         40
3    2018-02-04         24
4    2018-02-05         11
...         ...        ...
1123 2021-03-03         78
1124 2021-03-04         84
1125 2021-03-05         77
1126 2021-03-06         77
1127 2021-03-07        NaN

[1128 rows x 2 columns]

In [26]:
model_predict(fitted_model, model_future)

ValueError: Found NaN in column 'Fear&Greed'