In [8]:
from crypto_project.data import price_and_indexes
from crypto_project.model import fit_model,future_dataframe,model_predict, train_test_split
from fbprophet import Prophet

In [2]:
%load_ext autoreload
%autoreload 2

In [22]:
dataframe = price_and_indexes(local=True)
dataframe

,index,ds,y,Fear&Greed,BTC_score,twitter_score,reddit_score
0,0,2018-02-01,9052.5763,30,0.496911,0.569701,0.429601
1,1,2018-02-02,8827.6300,15,0.479340,0.552322,0.430662
2,2,2018-02-03,9224.3913,40,0.495011,0.585380,0.453424
3,3,2018-02-04,8186.6488,24,0.499830,0.554089,0.444839
4,4,2018-02-05,6914.2600,11,0.469328,0.529476,0.438090
...,...,...,...,...,...,...,...
1088,1095,2021-01-27,30425.3933,78,0.451524,0.568092,0.512576
1089,1096,2021-01-28,33420.0450,55,0.461012,0.588805,0.541803
1090,1097,2021-01-29,34264.0100,77,0.497264,0.614617,0.575444
1091,1098,2021-01-30,34324.2717,76,0.490272,0.562461,0.525758
1092,1099,2021-01-31,33129.7433,78,0.485714,0.574786,0.519823

In [23]:
merged_model = Prophet(interval_width=0.95, weekly_seasonality=True, changepoint_prior_scale=2)

merged_model.add_regressor('BTC_score')
merged_model.add_regressor('twitter_score')
merged_model.add_regressor('reddit_score')
merged_model.add_regressor("Fear&Greed")

merged_model.fit(dataframe)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [25]:
augmento_horizon = 1
merged_model_future = merged_model.make_future_dataframe(augmento_horizon)

merged_model_future["BTC_score"] = dataframe["BTC_score"] 
merged_model_future["twitter_score"] = dataframe["twitter_score"] 
merged_model_future["reddit_score"] = dataframe["reddit_score"] 
merged_model_future["Fear&Greed"] = dataframe["Fear&Greed"] 
merged_model_future

             ds  BTC_score  twitter_score  reddit_score  Fear&Greed
0    2018-02-01   0.496911       0.569701      0.429601        30.0
1    2018-02-02   0.479340       0.552322      0.430662        15.0
2    2018-02-03   0.495011       0.585380      0.453424        40.0
3    2018-02-04   0.499830       0.554089      0.444839        24.0
4    2018-02-05   0.469328       0.529476      0.438090        11.0
...         ...        ...            ...           ...         ...
1089 2021-01-28   0.461012       0.588805      0.541803        55.0
1090 2021-01-29   0.497264       0.614617      0.575444        77.0
1091 2021-01-30   0.490272       0.562461      0.525758        76.0
1092 2021-01-31   0.485714       0.574786      0.519823        78.0
1093 2021-02-01        NaN            NaN           NaN         NaN

[1094 rows x 5 columns]

In [ ]:
merged_model_forecast = merged_model.predict(merged_model_future)

In [26]:
fitted_model = fit_model(dataframe,local=True)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [27]:
model_future = future_dataframe(dataframe,fitted_model, local=True)
model_future

             ds  BTC_score  twitter_score  reddit_score  Fear&Greed
0    2018-02-01   0.496911       0.569701      0.429601        30.0
1    2018-02-02   0.479340       0.552322      0.430662        15.0
2    2018-02-03   0.495011       0.585380      0.453424        40.0
3    2018-02-04   0.499830       0.554089      0.444839        24.0
4    2018-02-05   0.469328       0.529476      0.438090        11.0
...         ...        ...            ...           ...         ...
1089 2021-01-28   0.461012       0.588805      0.541803        55.0
1090 2021-01-29   0.497264       0.614617      0.575444        77.0
1091 2021-01-30   0.490272       0.562461      0.525758        76.0
1092 2021-01-31   0.485714       0.574786      0.519823        78.0
1093 2021-02-01   0.485714       0.574786      0.519823        78.0

[1094 rows x 5 columns]

In [28]:
model_predict(fitted_model, model_future)

35564.59857804804